@import "../variables";
@import "../helpers";

.player {
  width: 400px;
  height: 600px;
  position: relative;
  @include shadow(3);
  
  &__header {
    height:25px;
    background-color: $dark-primary-color;
  }
  
  &__visualization {
    box-sizing: border-box;
    height: 600px;
    width: 100%;
  }

  &__controls {
    position: absolute;

    top: 450px;
    left: 50%;
    transform: translateX(-50%);

    height: 115px;
    width: 350px;
  }
}
