@import '../variables';
@import '../helpers';

.player
{
    position: relative;

    width: 400px;
    height: 600px;

    @include shadow(3);

    &__header
    {
        height: 25px;

        background-color: $dark-primary-color;
    }

    &__visualization
    {
        box-sizing: border-box;
        width: 100%;
        height: 600px;
    }

    &__controls
    {
        position: absolute;
        top: 450px;
        left: 50%;

        width: 350px;
        height: 115px;

        transform: translateX(-50%);
    }
}
