@import '../variables';
@import '../helpers';

.play-pause-button
{
    font-size: 48px;

    width: 100%;
    min-width: 60px;
    height: 100%;
    min-height: 60px;

    cursor: pointer;

    color: $text-color;
    border: none;
    border-radius: 50%;
    outline: none;
    background-color: $accent-color;

    @include shadow(2);

    &:active
    {
        @include shadow(1);
    }
}
