@import "../variables";
@import "../helpers";



.progress {
  //display: block;
  //color: $accent-color;
  //background-color: transparent;
  //
  //width: 100%;
  //
  //@include shadow(1);

  display: block;
  color: red;
  background: transparent;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 8px;
  line-height: 21px;
  font-size: 15px;
  font-family: sans-serif;
  text-align: center;

  //@include shadow(1);
}

::-webkit-progress-bar {
  background: $divider-color;
}
::-webkit-progress-value {
  background: $accent-color;
}
::-moz-progress-bar {
  background: $accent-color;
}