@import '../variables';
@import '../helpers';

.settings-button
{
    font-size: 36px;

    width: 100%;
    min-width: 30px;
    height: 100%;
    min-height: 30px;

    cursor: pointer;

    color: $accent-color;
    border: none;
    outline: none;
    background-color: transparent;

    @include text_shadow(2);

    &:active
    {
        @include text_shadow(1);
    }
}
