// Файл создан автоматически

@font-face
{
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;

    src: url('../../app/fonts/icomoon.eot?h6xerw');
    src: url('../../app/fonts/icomoon.eot?#iefixh6xerw') format('embedded-opentype'),
    url('../../app/fonts/icomoon.ttf?h6xerw') format('truetype'),
    url('../../app/fonts/icomoon.woff?h6xerw') format('woff'),
    url('../../app/fonts/icomoon.svg?h6xerw#icomoon') format('svg');
}

[class^='icon-'],
[class*=' icon-']
{
    font-family: 'icomoon';
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 1;

    text-transform: none;

    speak: none;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-album:before
{
    content: '\e606';
}
.icon-pause:before
{
    content: '\e601';
}
.icon-play:before
{
    content: '\e602';
}
.icon-settings:before
{
    content: '\e600';
}
.icon-stop:before
{
    content: '\e603';
}
.icon-volume-down:before
{
    content: '\e604';
}
.icon-volume-off:before
{
    content: '\e605';
}
